.overlay {
  height: 100%;
  width: 10%;
  min-width: 140px;
  background: rgba(255,255,255,0.5);
  border-radius: 20px;
  border: solid #4195f4 0.3rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 300px;
}

.weather {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 70%;
}

.description {
  margin: 0;
  font-family: Helvetica, sans-serif;
  font-size: 0.8em;
  height: 10%;
}

.temperature, .hour {
  margin: 0;
  font-family: Helvetica, sans-serif;
  font-size: 0.9em;
  font-weight: bold;
  height: 10%
}

.clearMorning {
  background: url('../../icons/clear-morning.png') center/cover no-repeat;
}

.clearNight {
  background: url('../../icons/clear-night.png') center/cover no-repeat;
}

.partialCloudsMorning {
  background: url('../../icons/partialclouds-morning.png') center/cover no-repeat;
}

.partialCloudsNight {
  background: url('../../icons/partialclouds-night.png') center/cover no-repeat;
}

.cloudy {
  background: url('../../icons/cloudy.png') center/cover no-repeat;
}

.showers {
  background: url('../../icons/showers.png') center/cover no-repeat;
}

.rainMorning {
  background: url('../../icons/rain-morning.png') center/cover no-repeat;
}

.rainNight {
  background: url('../../icons/rain-night.png') center/cover no-repeat;
}

.thunderstorm {
  background: url('../../icons/thunderstorms.png') center/cover no-repeat;
}

.snowy {
  background: url('../../icons/snowy.png') center/cover no-repeat;
}

.mist {
  background: url('../../icons/mist.png') center/cover no-repeat;
}