body {
  height: 100vh;
  width: inherit;
  background: url('images/background.JPG') no-repeat;
  background-position: center bottom;
  background-size: cover;
  margin:0;
  padding:0;
  border:0;
  outline:0;
  vertical-align:baseline;
  line-height: 1.5em;
}

#root {
  height: inherit;
  width: inherit;
}